.greeting {
  display: flex;
}

.greeting .content {
  display: inline;
  font-size: 337.5%;
}

.greeting .side {
  display: inline-flex;
  flex: 1 0 50px;
  align-items: center;
}

.greeting .name-wrapper {
  position: relative;
  white-space: nowrap;
}

.greeting .name {
  display: inline-block;
  overflow: hidden;
  max-width: 12em;
  padding: 5px 2px 10px;
  margin: -5px -2px -10px;
  border-radius: 3px;
  outline: 0;
  vertical-align: top;
  white-space: nowrap;
}

.greeting .name.editing {
  min-width: 1.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: auto;
}

.greeting .name.editing:after {
  position: absolute;
  height: 3px;
  right: 12px;
  bottom: -5px;
  left: 0;
  background: #fff;
  content: '';
}
