.todo .widget-popup {
  overflow-y: hidden;
  width: 320px;
  height: auto;
}

.todo .widget-popup.scrolling {
  overflow-y: auto;
}

.todo-header {
  position: relative;
  height: var(--header-height);
}

.todo .list-row {
  display: flex;
  position: relative;
  height: var(--header-height);
}

.todo .active-list-container {
  display: inline-flex;
  flex: 1 1 auto;
  padding-left: var(--widget-padding);
  align-items: center;
}

.todo .list-chooser-toggle {
  height: 100%;
  cursor: pointer;
}

.todo .active-list-name {
  overflow: hidden;
  font-size: 19px;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.todo .list-chooser-toggle:after {
  width: 21px;
  height: 21px; 
}

.todo .list-chooser.nipple-top-left:after {
  left: 28px;
}

.todo .list-chooser {
  top: var(--header-height);
  padding: 4px 0;
  margin-left: -4px;
}

.todo .list-name {
  opacity: .7;
}

.todo .list-chooser-item.active .list-name {
  opacity: 1;
}

.todo .todo-count {
  opacity: .45;
  margin-left: 6px;
}

.todo .todo-list-wrapper {
  overflow: hidden;
  transition: max-height .3s ease, min-height .3s ease;
}

.todo .todo-list {
  overflow-x: hidden;
  overflow-y: auto;
}

.todo .todo-item {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 3px 0;
  font-size: 94%;
  line-height: 1.25; 
}

.todo .todo-item label {
  position: relative;
  top: -1px;
  left: 0;
  float: left;
  padding-left: var(--widget-padding);
  padding-right: 5px;
}

.todo .todo-item-checkbox {
  vertical-align: middle;
}

.todo .todo-item-title {
  opacity: .9;
  display: block;
  margin-left: 40px;
  margin-right: 70px;
  outline: 0;
  word-wrap: break-word;
}

.todo .todo-item.done .todo-item-title {
  opacity: .5;
  text-decoration: line-through;
}

.todo-item-action {
  position: relative;
  top: 1px;
  float: right;
  padding-right: 15px;
}

.todo .todo-list-add-row {
  position: relative;
  padding: 0;
}

.todo .list-chooser-add-icon {
  opacity: .5;
  position: absolute;
  top: calc(var(--dropdown-li-padding-v) + 2px);
  left: calc(var(--dropdown-li-padding-h) - 1px);
  font-size: 13px;
}

.todo .todo-list-add-row .list-chooser-add-input {
  opacity: .7;
  padding-top: var(--dropdown-li-padding-v);
  padding-right: var(--dropdown-li-padding-h);
  padding-bottom: var(--dropdown-li-padding-v);
  padding-left: calc(var(--dropdown-li-padding-h) * 2);
  width: 100%;
  border-bottom: none;
  line-height: normal;
  cursor: pointer;
}

.todo-item .icon-wrapper:after {
  width: 23px;
  height: 23px;
}

.todo-item .icon-wrapper i {
  margin: 0 5px;
}

.todo .todo-item .todo-move-list-toggle.icon-wrapper i {
  font-size: 13px;
}

.todo .todo-item .todo-delete-list-toggle.icon-wrapper i {
  font-size: 14px;
}

.todo .todo-item .todo-move-list-toggle.icon-wrapper, .todo .todo-item .todo-delete-list-toggle.icon-wrapper {
  opacity: 0;
}

.todo .todo-item:hover .todo-move-list-toggle.icon-wrapper, .todo .todo-item:hover .todo-delete-list-toggle.icon-wrapper {
  opacity: 1;
}

.todo .todo-item label, .todo .todo-item label input, .todo .todo-item .todo-move-list-toggle.icon-wrapper, .todo .todo-item .todo-delete-list-toggle.icon-wrapper {
  cursor: pointer;
}

.todo .new-todo-button.hidden {
  opacity: 0;
  cursor: default;
}

.todo .todo-footer {
  visibility: hidden;
}

.todo .todo-footer.active {
  visibility: visible;
}

.todo .todo-footer input.todo-new {
  opacity: .75;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 8px var(--widget-padding) calc(var(--widget-padding) - 3px);
  font-size: 15px;
  font-weight: 600;
}
