@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('../static/fonts/fonts.css');
@import url('./animations.css');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* -------------------------------------------- */
/*                                              */
/* index.css                                    */
/*                                              */
/* -------------------------------------------- */


:root {
 --widget-padding: 19px;
 --border-radius: 4px;
 --dropdown-li-padding-v: 7px;
 --dropdown-li-padding-h: 16px;
 --header-height: 47px;
}

body {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  background-color: #333;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
}

body, input, select, textarea, button {
  font-family: Helvetica, Arial, sans-serif;
}

body, input, textarea {
  margin: 0;
  font-size: 100%;
  color: #fff;
}

input, textarea, select {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  outline: 0;
}

input, textarea, button {
  border: none;
  background: transparent;
}

button {
  opacity: 1;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  color: #fff;
  font-size: 80%;
  outline: 0;
  cursor: pointer;
}

.widgets {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .3s ease;
}

.widgets.hide {
  opacity: 0;
}

.widget-container {
  display: inline-block;
  position: relative;
  transition: opacity .5s ease;
  -moz-user-select: none;
  user-select: none;
}

.widget-dash {
  padding: 10px;
  cursor: pointer;
}

.widget-dash.toggle {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(255,255,255,.7);
  font-size: 106.25%;
  line-height: 40px;
  transition: color .15s ease,text-shadow .15s ease;
}

.widget-wrapper {
  opacity: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.widget-popup {
  display: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 200px;
  padding: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(15,15,15,.925);
  text-align: left;
  text-shadow: none;
}

.widget-container.show .widget-dash.toggle, .widget-dash.toggle:hover {
  color: rgba(255,255,255,1);
}

.widget-container.show .widget-wrapper {
  overflow: visible;
}

.widget-container.show .widget-wrapper.show-fade-in {
  opacity: 1;
  transform: none;
}

.widget-container.show .widget-popup {
  display: block;
}

.widget-wrapper, .widget-popup {
  transition: all .15s ease;
}

.widget-wrapper.show .widget-popup {
  display: block;
}

.top-row .widget-wrapper {
  transform: translateY(-5px);
}

.bottom-row .widget-wrapper {
  transform: translateY(5px);
}

.widget-popup button {
  padding: 8px 30px 9px;
  border-radius: 50px;
  background: rgba(255,255,255,.3);
  font-size: .875rem;
  text-shadow: none;
  transition: opacity .3s ease;
}

.widget-popup .button:hover {
  background: rgba(255,255,255,.4);
}

.top-row, .bottom-row {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
}

.top-row {
  top: 0;
}

.bottom-row {
  bottom: 0;
}

.top-left, .bottom-left {
  flex: 1 0 auto;
  position: relative;
}

.top-right, .bottom-right {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  text-align: right;
}

.top-right .widget-popup, .bottom-right .widget-popup {
  right: 7px;
}

.top-left .widget-popup, .bottom-left .widget-popup {
  left: 7px;
}

.bottom-right .widget-popup, .bottom-left .widget-popup {
  bottom: 0;
}

.top-right .widget-dash, .top-left .widget-dash {
  padding-top: 14px;
}

.bottom-right .widget-dash, .bottom-left .widget-dash {
  padding-bottom: 14px;
}

.top-right .widget-dash, .bottom-right .widget-dash {
  padding-right: 20px;
}

.top-left .widget-dash, .bottom-left .widget-dash {
  padding-left: 20px;
}

.center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

[class*=nipple-]:after {
  opacity: 1;
  display: block;
  overflow: visible;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: '';
}

[class*=nipple-].nipple--u-bg:after {
  border-top-color: #333;
  border-bottom-color: #333;
}

.nipple-bottom-right:after, .nipple-top-right:after {
  right: 33px;
}

.nipple-top-left:after, .nipple-top-right:after {
  top: -6px;
  border-bottom: 6px solid rgba(15,15,15,.925);
}

.nipple-bottom-left:after, .nipple-bottom-right:after {
  bottom: -6px;
  border-top: 6px solid rgba(15,15,15,.925);
}

.icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  -moz-user-select: none;
  user-select: none;
}

.icon-wrapper:after {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  box-sizing: border-box;
  content: '';
  z-index: 0;
}

.icon-wrapper i {
  opacity: .5;
  margin: 0 10px;
  font-size: 17px;
}

.has-icon-wrapper.hover .icon-wrapper i, .has-icon-wrapper:hover .icon-wrapper i, .icon-wrapper:hover i {
  opacity: .8;
}

.has-icon-wrapper.hover .icon-wrapper:after, .has-icon-wrapper:hover .icon-wrapper:after, .icon-wrapper:hover:after {
  background: rgba(255,255,255,.12);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  box-sizing: border-box;
  padding: var(--widget-padding);
  text-align: center;
}

.empty-title {
  opacity: .7;
  margin-top: -3px;
  margin-bottom: 6px;
}

.empty-link {
  cursor: pointer;
}

.empty-link, .empty-description {
  opacity: .45;
  margin-bottom: 16px;
  font-size: 87.5%;
}

.empty-link:hover {
  opacity: .8;
}

.empty-link i {
  margin-left: 6px;
}

.empty .button {
  padding-left: 28px;
  padding-right: 28px;
}

.empty-link, .empty-button {
  transition: opacity .3s ease;
}

.dropdown {
  display: none;
  position: absolute;
  border-radius: var(--border-radius);
  background: #333;
  box-shadow: 0 1px 8px rgba(0,0,0,.25);
  z-index: 5;
}

.dropdown.show {
  display: block;
}

.dropdown li {
  min-width: 240px;
  padding: var(--dropdown-li-padding-v) var(--dropdown-li-padding-h);
  box-sizing: border-box;
  font-size: 94%;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown li:hover {
  background: rgba(255,255,255,.15);
}

#widgets .center .bold {
  font-weight: 500;
  user-select: none;
}

@media screen and (max-height: 400px) {
  .clock {
    display: none;
  }
}

@media screen and (max-height: 550px) {
  .center, .center-below {
    font-size: 80%;
  }
}

@media screen and (max-height: 600px) {
  .center, .center-below, body {
      font-size: 90%;
  }
}

::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.3);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
}


/* --------------- index.css --------------- */
