@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('../static/fonts/fonts.css');
@import url('./animations.css');
@import url('./reset.css');


body {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  background-color: #333;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
}

body, input, select, textarea, button {
  font-family: Helvetica, Arial, sans-serif;
}

body, input, textarea {
  margin: 0;
  font-size: 100%;
  color: #fff;
}

input, textarea, select {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  outline: 0;
}

input, textarea, button {
  border: none;
  background: transparent;
}

button {
  opacity: 1;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  color: #fff;
  font-size: 80%;
  outline: 0;
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.3);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
}

@media screen and (max-height: 550px) {
  .center-below {
    font-size: 80%;
  }
}

@media screen and (max-height: 600px) {
  body {
      font-size: 90%;
  }
}
